{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}" />
<div class="landing-container">
  <div class="grid-left">
    <div class="logo-title">
      <img src="{% static 'img/tiendalogo.png' %}" alt="Logo" />
    </div>
    <h1>GLOBAL EXCHANGE</h1>
    
    {% include 'cotizaciones.html' %}

    {% include 'graficoMoneda.html' %}
  </div>

  <div class="grid-right">
    <img
      src="{% static 'img/VectorFondo1.svg' %}"
      alt="Fondo 1"
      class="fondo1"
    />
    <img
      src="{% static 'img/VectorFondo2.svg' %}"
      alt="Fondo 2"
      class="fondo2"
    />

    <div class="content-right">
      <ul class="home-info">
        <li>Cambio de Divisas</li>
        <li>Transacciones</li>
        <li>Simulacion de Conversión</li>
        <li class="button-contain">
          <a href="{% url 'login' %}" class="btn">Ir a mi cuenta</a>
        </li>
      </ul>

      <div class="personajes-container">
        <img
          src="{% static 'img/personaje1.svg' %}"
          alt="Personaje 1"
          class="personaje1"
        />
        <img
          src="{% static 'img/personaje2.svg' %}"
          alt="Personaje 2"
          class="personaje2"
        />
      </div>
    </div>
  </div>
</div>

<!-- Pasar datos al JS usando un tag script oculto -->
<script id="data-por-moneda" type="application/json">
  {{ data_por_moneda|safe }}
</script>
<!-- Cargar el archivo JS que contiene la lógica del gráfico -->
<script src="{% static 'js/graficoMoneda.js' %}"></script>
{% endblock %}
