{% load static %}

<link rel="stylesheet" href="{% static 'usuarios/css/cotizaciones.css' %}" />

<div class="cotizaciones-container">
  <h2 class="cotizaciones-title">Cotizaciones</h2>
  <div class="cotizaciones-content">

    {% for abrev, registros in data_por_moneda.items|slice:":6" %}
      {% with ultimo=registros|last %}
      <div class="cotizaciones-divisa">

        <!-- Logo: PNG primero, si no SVG -->
        <img src="{% static 'img/logoMoneda/'|add:abrev|add:'.png' %}"
     onerror="
         this.onerror=null;
         this.src='{% static 'img/logoMoneda/'|add:abrev|add:'.svg' %}';
         this.onerror=function(){
             this.onerror=null;
             this.src='{% static 'img/logoMoneda/default-logo.webp' %}';
         }
     "
     alt="Logo {{ abrev }}" />




        <p class="simboloTitle">{{ abrev }}</p>

        <div class="precios">
          <p class="precioTitle">Compra</p>
          <p class="simboloTitle">
            {{ ultimo.compra }}
            {% if registros|length > 1 %}
              {% with registro_anterior=registros|slice:"-2:-1"|first %}
                {% if ultimo.compra > registro_anterior.compra %}
                  <span class="flecha sube">▲</span>
                {% elif ultimo.compra < registro_anterior.compra %}
                  <span class="flecha baja">▼</span>
                {% else %}
                <span class="flecha neutral">-</span>
              {% endif %}
              {% endwith %}
              {% else %}
                <span class="flecha neutral">-</span>
            {% endif %}
          </p>
        </div>

        <div>
          <p class="precioTitle">Venta</p>
          <p class="simboloTitle">
            {{ ultimo.venta }}
            {% if registros|length > 1 %}
              {% with registro_anterior=registros|slice:"-2:-1"|first %}
                {% if ultimo.venta > registro_anterior.venta %}
                  <span class="flecha sube">▲</span>
                {% elif ultimo.venta < registro_anterior.venta %}
                  <span class="flecha baja">▼</span>
                {% else %}
                <span class="flecha neutral">-</span>
              {% endif %}
              {% endwith %}
              {% else %}
                <span class="flecha neutral">-</span>
            {% endif %}
          </p>
        </div>

      </div>
      {% endwith %}
    {% endfor %}

  </div>
</div>

<style>
  .flecha {
    font-size: 1.2rem;
    margin-left: 5px;
  }

  /* Flecha verde para subida */
  .flecha.sube {
      color: green;
  }

  /* Flecha roja para bajada */
  .flecha.baja {
      color: red;
  }
  .flecha.neutral {
    color: goldenrod;  /* amarillo oscuro */
  }

</style>
