{% load static %}

<link rel="stylesheet" href="{% static 'usuarios/css/graficoMoneda.css' %}" />

<div class="grafico-moneda">
  <select id="monedaSelect">
    <!-- Las opciones se generarán dinámicamente desde JS -->
  </select>
</div>

<div class="grafico-container">
  <canvas id="graficoMoneda"></canvas>
</div>

<script id="data-por-moneda" type="application/json">
  {{ data_por_moneda|safe }}
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/graficoMoneda.js' %}"></script>
