{% extends 'baseDashboardUsuario.html' %} 
{% load static %} 
{% block dashboard_content %}
<link rel="stylesheet" href="{% static 'usuarios/css/home.css' %}" />
<div class="home-content">
  <h1>Home</h1>
  <div class="home-main">
    <div class="flex-content">
      <div class="left-content">
        {% include 'cotizaciones.html' %} 
      </div>
      <div class="right-content">
        {% include 'conversorDivisa.html' %}
      </div>
    </div>
    <div class="chart-content">{% include 'graficoMoneda.html' %}</div>
  </div>
</div>
{% endblock %}
