{% extends 'usuario_auth_base.html' %} {% block form_fields %} {% if messages %}
{% load widget_tweaks %}

<div class="alert alert-{{ messages.tags }} mt-2">{{ messages }}</div>
{% endif %}

<div class="form-group">
  <i class="bi bi-person-fill input-icon-left"></i>
  {{ form.username }}
  <label>Usuario</label>
  {% for error in form.username.errors %}
  <div class="text-danger">{{ error }}</div>
  {% endfor %}
</div>

<div class="form-group">
  <i class="bi bi-envelope-fill input-icon-left"></i>
  {{ form.email }}
  <label>Correo</label>
  {% for error in form.email.errors %}
  <div class="text-danger">{{ error }}</div>
  {% endfor %}
</div>

<div class="form-group">
  <i class="bi bi-envelope-fill input-icon-left"></i>
  {{ form.cedula }}
  <label>C.I/R.U.C</label>
  {% for error in form.cedula.errors %}
  <div class="text-danger">{{ error }}</div>
  {% endfor %}
</div>


<div class="form-group">
  <i class="bi bi-lock-fill input-icon-left"></i>
  {{ form.password1|add_class:"form-control password-field" }}
  <label>Contraseña</label>
  {% if form.password1.errors %} {% for error in form.password1.errors %}
  <div class="text-danger">{{ error }}</div>
  {% endfor %} {% endif %}
  <button type="button" class="toggle-password">
    <i class="bi-eye-slash"></i>
  </button>
</div>

<div class="form-group">
  <i class="bi bi-lock-fill input-icon-left"></i>
  {{ form.password2|add_class:"form-control password-field" }}
  <label>Repetir contraseña</label>
  {% if form.password2.errors %} {% for error in form.password2.errors %}
  <div class="text-danger">{{ error }}</div>
  {% endfor %} {% endif %}
  <button type="button" class="toggle-password">
    <i class="bi bi-eye-slash"></i>
  </button>
</div>

{% endblock %}
