asgiref==3.9.1
autopep8==2.3.2
Django==5.2.5
django-environ==0.12.0
django-widget-tweaks==1.5.0
psycopg2-binary==2.9.10
pycodestyle==2.14.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
sphinx==8.2.3
sphinx-rtd-theme==3.0.2
gunicorn==23.0.0
django-cors-headers==4.9.0
djangorestframework-simplejwt
openpyxl
reportlab
channels
channels_redis
daphne
redis